body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.imgcontainer {
  text-align: center;
  margin: 10px 0 12px 0;
}

img.user {
  width: 50%;
  border-radius: 50%;
}

.bg-img {
  background-image: url("paisaje.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
}

.container {
  right: 50px;
  margin: 1rem;
  max-width: 300px;
  padding: 50px;
  background-color: hsla(120, 10%, 100%, 0.6);
  background-size: initial;
  display: block;
  border-radius: 10px;
}
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px;
  background: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #01d897;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  outline: none;
  border-radius: 50px;
  border: 1px solid #01d897;
}

.btn:hover {
  opacity: 1;
}

@media (max-width: 575.98px) {
  .container {
    padding-top: 35%;
    margin: 0;
    right: 0;
    max-width: 500px;
    border-radius: 0;
  }
  input {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    padding-top: 35px;
    margin: 0;
    right: 0;
    border-radius: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    right: 50px;
    margin: 100px;
    padding: 50px;
    background-color: hsla(120, 10%, 100%, 0.6);
    background-size: initial;
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    margin: 5rem;
    max-width: 250px;
    height: 60vh;
    background-color: hsla(120, 10%, 100%, 0.6);
  }

  input {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 5rem;
    max-width: 360px;
    height: 75vh;
    background-color: hsla(120, 10%, 100%, 0.6);
    box-sizing: border-box;
  }
  input {
    width: 90%;
  }
}
